/*******************************
            Global
*******************************/

html, body {
  font-family: "Lato", Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}
body {
  min-height: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Merriweather", Times New Roman, serif;
}


.button {

}



/*******************************
              Page
*******************************/

.hero {
  padding: 30px;
  height: 450px;
  background-color: #deeee6;
}

.page {

}

.footer {

}

/*****************************************************************************/

.half-half {
  display: flex;
  justify-content: space-between;
}

.header-text {
  font-family: "Merriweather", Times New Roman, serif;
  font-size: 30px;
  margin-top: 50px;
}

.intro {
  flex-basis: 30%;
}

.button {
  background-color: #4daf7c; 
  border: none;
  color: white;
  padding: 15px 32px;
  margin-top: 20px;
}


/*******************************
         Responsive
*******************************/

/* Small Monitor */
@media only screen and (min-width: 1025px) and (max-width: 1199px) {


}


/* Tablet */
@media screen and (max-width: 1024px) {

}

/* Mobile */
@media only screen and (max-width: 767px) {
}
